body {
    font-family: 'Zector', cursive;
    background-color: rgb(222, 174, 235);
    margin: 0;
    padding: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h1 {
    text-align: center;
    color: #561d52;
    font-family: 'Fallout', cursive;
    font-size: 42px;
    margin-bottom: 20px;    
    letter-spacing: 1px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
}


input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #985590;
    border-radius: 5px;
    font-size: 16px;
    font-family:'Zector', sans-serif;
    outline: none;
}

button {
    padding: 8px 15px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #9d5995;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family:'Fallout02', sans-serif;
    transition: transform 0.15s ease;
}

button:hover {
    transform: scale(1.05);
}

.container {
    width: 350px;
    background: rgb(255, 241, 223);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    cursor: pointer;
}

.feita {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}

@font-face {
    font-family: 'Fallout';
    src: url('fonts/SoleSurvivorRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fallout02';
    src: url('fonts/F25_Bank_Printer_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Zector';
    src: url('fonts/Zector.ttf') format('truetype');
}

button.excluir {
    background-color: #985590;
    border: none;
    color: #fbe8ff;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s;
    transition: transform 0.15s ease;
}

button.excluir:hover {
    color: #fbe8ff;
    transform: scale(1.2);
}

@keyframes aparecer {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container li {
    animation: aparecer 0.3s ease;
}

.removendo {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.2s ease, transform 0.2s ease; 
}